body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #6bc4ff;
    font-family: 'Arial', sans-serif;
}

.card {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #1e5aff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content {
    padding: 20px;
}

.card h1 {
    color: #6682ff;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #66e8ff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #96e4f8;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    max-width: 400px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-content h2 {
    color: #268fd4;
}

.popup-content img {
    width: 100px;
    height: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}